<%# Change to proper btn-group once Bootstrap is removed %>
<div class="form-submit" role="group" aria-label="Follow, edit, or view the history of a case">
	<% if user_signed_in? %>
		<% if current_user.following?(@this_case) %>
			<%= button_to 'Unfollow', follows_case_path(@this_case), method: :delete, class: "btn btn-success", data: { confirm: "Are you sure you want to unfollow this case?" } %>
		<% else %>
			<%= button_to 'Follow', follows_case_path(@this_case), class: 'btn btn-success' %>
		<% end %>
		<%= link_to "Edit", edit_case_path(@this_case), class: "btn btn-success", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Something not right?",:content => "Click here to make changes to this case.  We're relying on folks like you to help us stay accurate!"} %>
	<% end %>
	<%= link_to "History", cases_history_path(@this_case), class: "btn btn-success", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Track Changes",:content => "Click here to see all the past edits to this case."} %>
</div>